*{
    list-style: none;

}
body{
    background-color: black;
}
.form-div{
    width: 25vw;
    height: auto;
    margin:0 auto;
    
    background-color: antiquewhite;
    border-radius: 15px;
}
ul{
    line-height: 220%;
}